<app-form-producto></app-form-producto>

<p>lista-producto works!</p>

<!--@for (p of productos; track $index){
  <li>{{p.nombre}} - {{p.stock}}
  <button (click)="cargarProducto(p)">Editar</button>
  <button (click)="eliminar(p.idProducto)" >Eliminar</button>
  </li>
}
-->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="idProducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idProducto}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Unitario </th>
      <td mat-cell *matCellDef="let row"> {{row.pu}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="puOld">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Unit Old </th>
      <td mat-cell *matCellDef="let row"> {{row.puOld}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="accent" (click)="cargarProducto(row)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-button color="accent" (click)="eliminar(row.idProducto)">
          <mat-icon>delete_sweep</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

