<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button class="myButton no-border" mat-icon-button (click)="sidenav.toggle()">
      @if (!sidenav.opened) {
        <mat-icon>menu</mat-icon>
      }@else {
        <mat-icon>close</mat-icon>
      }
    </button>
    <span>SysAlmacen</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"> </span>
    <button class="no-border" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <mat-icon>account_box</mat-icon>
        <span>My account</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false" >
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 250px" mode="over">
      <img src="images.png" width="128" style="margin-left: 20px">
      <mat-divider></mat-divider>
      <button class="myButton" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/pages/product" [routerLinkActive]="['active']" style="cursor: pointer">
        <mat-icon>scanner</mat-icon>
        <span>Producto</span>
      </button>

      <mat-divider></mat-divider>

      <button class="myButton" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/pages/categoria" style="cursor: pointer">
        <mat-icon>view_carousel</mat-icon>
        <span>Main Categoria</span>
      </button>

      <mat-divider></mat-divider>
      <button class="myButton" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/pages/marca" style="cursor: pointer">
        <mat-icon>account_balance</mat-icon>
        <span>Main Marca</span>
      </button>

      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <button class="myButton" mat-menu-item (click)="sidenav.toggle()"
              routerLink="/pages/unidadmedida" style="cursor: pointer">
        <mat-icon>account_balance</mat-icon>
        <span>Main Unidad Medida</span>
      </button>

      <mat-divider></mat-divider>
    </mat-sidenav>


    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

